{% load static %}
<div class="header">
    <div class="header_resize">
        <div class="logo"><h1><a href="index.html"><span>Name</span> Company <small>Put your best slogan
            here</small></a></h1></div>
        <div class="clr"></div>
        <div class="menu_nav">
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="support.html">Support</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
            <div class="searchform" style="padding-right: 10px">
                <form method="get" action='/search/'>
                    <input type="text" name="q" placeholder="请输入关键词。。">
                    <input type="submit" value="搜索">
                </form>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>